nav.navigation
    ul.header__navigation__ul 
        li.header__navigation__li
            a.header__navigation__a(href="html/pug/index.html") NCKN
        li.header__navigation__li
            a.header__navigation__a(href="html/pug/pages/html.html") HTML
        li.header__navigation__li 
            a.header__navigation__a(href="#") CSS
        li.header__navigation__li 
            a.header__navigation__a(href="#") JavaScript #[br](в разработке)
        li.header__navigation__li 
            a.night_theme(href="#")
                i.fa-moon.fa-solid